.c_middle_header{
    margin-top: 3%;
}

.c_middle_content{
    margin-top: 4%;
    height: 600px;
    /* width: 1500px; */
    width: 100%;
    background-color: rgb(250 250 250 / 70%);
    border-radius: 0.25rem;
}

.c_weather_icon {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.c_weather_icon:hover {
    transform: scale(1.1);
}

.col-md-6{
    margin-bottom: 1%;
    margin-top: 1%;
}

.card{
    border: none;
    background-color: rgba(229 199 199 / 25%);
}

h3, p{
}

h5, h1, a{
    font-weight: bold;
}

.btn{
    width:5rem;
    border-radius: 20%;
    height: 40px;
    padding: 0;
}

@media (max-width: 768px) {
    .c_middle_content {
        width: 100%;
    }

    .btn{
        margin-bottom: 10px;
    } 

    footer {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .c_middle_content {
        height: 400px;
    }

  .btn{
        margin-bottom: 10px;
    } 
}

.c_footer{
    color:rgba(37, 38, 39, 0.842);
    font-weight: bold;
}
